<div class="card">
  <header class="card__header">
    <h2 class="card__title">{{ name.official }}</h2>
    <ul class="card__list">
      <li class="card__item card__item--capital"><b>Capital:</b> {{ capital.[0] }}</li>
      <li class="card__item card__item--population"><b>Population:</b> {{ population }}</li>
      {{#each this.languages}}
        <li class="card__item card__item--languages"><b>Languages: </b> {{ this }}</li>
      {{/each}}
    </ul>
  </header>
  <img class="card__image" width="150" src="{{ flags.svg }}" alt="{{ name.official }} flag">
</div>
